a:hover {
  text-decoration: none; }

@font-face {
  font-family: 'EssenceRegular';
  src: url("../fonts/Essence Sans.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'EssenceBold';
  src: url("../fonts/Essence Sans Bold.ttf");
  /* IE9 Compat Modes */ }
.essenceBold {
  font-family: 'EssenceBold'; }

.home_header {
  height: 90vh;
  position: relative;
  background-image: linear-gradient(rgba(87, 148, 240, 0.6), rgba(87, 148, 240, 0.6)), url("../img/header_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
    .home_header {
      height: 90vh; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .home_header {
      height: 100vh; } }
  .home_header .logo {
    width: 57px;
    height: 50px;
    margin-right: 20px;
    padding: 0;
    position: relative;
    line-height: 50px;
    font-size: 40px;
    background-color: #fff;
    color: #000; }
    .home_header .logo::after {
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      border: #fff 1px solid; }
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      .home_header .logo {
        width: 47px;
        height: 40px;
        font-size: 28px;
        text-align: center;
        line-height: 40px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .home_header .logo {
        width: 57px;
        height: 50px;
        font-size: 28px;
        text-align: center;
        line-height: 50px;
        margin-right: 10px; } }
  .home_header .head_donate_btn {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    text-decoration: none;
    line-height: 30px;
    border: 1px solid #fff;
    height: 35px; }
    .home_header .head_donate_btn:hover {
      background-color: #fff;
      color: #000; }
  .home_header nav {
    padding-top: 20px;
    letter-spacing: 2px;
    width: 90%;
    color: #000 !important;
    font-family: EssenceBold;
    font-size: 16px;
    font-weight: 500 !important; }
    .home_header nav a {
      color: #fff;
      transition: all 0.3s ease; }
      .home_header nav a:hover {
        color: #000;
        transform: translateY(-5px) scale(1.01); }
    .home_header nav .nav-item {
      padding: 0 5px; }
    .home_header nav .navbar-toggler {
      border: 1px solid #fff;
      border-radius: 0;
      height: 40px;
      padding-bottom: 10px; }
    .home_header nav .burger {
      display: inline-block;
      width: 1.3em;
      position: relative;
      height: 2px;
      vertical-align: middle;
      content: "";
      background-color: #fff; }
      .home_header nav .burger:before {
        content: '';
        width: 1.3em;
        height: 2px;
        position: absolute;
        top: -8px;
        left: 0;
        background-color: #fff; }
      .home_header nav .burger:after {
        content: '';
        width: 1.3em;
        height: 2px;
        position: absolute;
        top: 8px;
        left: 0;
        background-color: #fff; }
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      .home_header nav {
        width: 100%;
        text-align: left;
        padding-top: 10px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .home_header nav {
        width: 100%;
        text-align: left;
        padding-top: 20px; } }
  .home_header .head_tagline {
    font-family: EssenceBold;
    color: #fff;
    text-align: center; }
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      .home_header .head_tagline {
        text-align: left;
        font-size: 2rem; } }
  .home_header .head_quote {
    font-family: EssenceBold;
    color: #fff;
    text-align: right; }
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      .home_header .head_quote {
        text-align: right;
        font-size: 1.7rem; } }

.section_title_h1 {
  letter-spacing: 3px;
  position: relative;
  font-size: 50px;
  line-height: 55px;
  font-family: 'EssenceRegular';
  font-weight: bold;
  padding-left: 5px; }
  @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
    .section_title_h1 {
      font-size: 45px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .section_title_h1 {
      font-size: 40px; } }
  .section_title_h1 span {
    position: absolute;
    height: 10px;
    left: 0;
    z-index: -1;
    background-color: rgba(128, 127, 255, 0.6); }
  .section_title_h1 .fst {
    width: 40%;
    top: 35%; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .section_title_h1 .fst {
        width: 50%; } }
  .section_title_h1 .mission_span {
    width: 65%;
    top: 70%; }
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      .section_title_h1 .mission_span {
        width: 75%;
        top: 65%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .section_title_h1 .mission_span {
        width: 85%; } }
  .section_title_h1 .contact_span {
    width: 55%;
    top: 70%; }
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      .section_title_h1 .contact_span {
        width: 75%;
        top: 65%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .section_title_h1 .contact_span {
        width: 85%; } }
  .section_title_h1 .scnd {
    width: 55%;
    top: 85%; }
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      .section_title_h1 .scnd {
        width: 65%;
        top: 65%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .section_title_h1 .scnd {
        width: 70%; } }
  .section_title_h1 .how_it_work_span {
    width: 35%;
    top: 70%;
    left: 33%; }
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      .section_title_h1 .how_it_work_span {
        width: 80%;
        left: 10%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .section_title_h1 .how_it_work_span {
        width: 40%;
        left: 30%; } }

.letter_space_3 {
  letter-spacing: 3px; }

.mission_image_window {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border: 20px solid #CCCCFF;
  height: 500px; }
  @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
    .mission_image_window {
      height: 450px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .mission_image_window {
      height: 400px; } }
  .mission_image_window .row {
    position: relative;
    height: 100%; }

.strip {
  height: 100%;
  background-size: 100%;
  background-position: center top;
  background-repeat: repeat-Y;
  background-size: 95%; }

.strip_one {
  background-image: url(../img/img-strip.jpg); }

.strip_two {
  background-image: url(../img/img-strip.jpg); }

.strip_three {
  background-image: url(../img/img-strip.jpg); }

.hiw_desc {
  font-family: 'EssenceBold';
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.4rem; }

.hiw_donate_btn {
  border-radius: 0px;
  background-color: #807FFF;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  transition: all 0.5s ease; }
  .hiw_donate_btn:hover {
    transform: translateY(-5px);
    text-decoration: none;
    color: #000;
    border: 1px solid #807FFF;
    background-color: #fff; }

.parallax_bg {
  font-family: 'EssenceBold';
  background-image: url("../img/parallax_bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  color: #fff; }

.form_wraper {
  padding: 0px 5rem;
  font-family: 'EssenceBold'; }
  @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
    .form_wraper {
      padding: 0px 1rem; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .form_wraper {
      padding: 0px 1rem; } }

.input_custom {
  border-radius: 0px;
  height: 45px;
  border: 0.15rem solid #807FFF; }

.textarea_custom {
  border-radius: 0px;
  border: 0.15rem solid #807FFF; }

.form_btn {
  border-radius: 0px;
  height: 45px;
  background-color: #807FFF;
  color: #fff; }
  .form_btn:hover {
    transform: translateY(-5px);
    cursor: pointer; }

.contact_details {
  background-color: #807FFF; }

.cd-top {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 45px;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  white-space: nowrap;
  background: #5CB3FD;
  visibility: hidden;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s ease;
  -moz-transition: opacity .3s 0s, visibility 0s .3s, transform 0.3s ease;
  transition: opacity .3s 0s, visibility 0s .3s, transform 0.3s ease; }
  .cd-top:hover {
    color: #fff;
    transform: translateY(-5px); }

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .5s 0s, visibility 0s 0s;
  -moz-transition: opacity .5s 0s, visibility 0s 0s;
  transition: opacity .5s 0s, visibility 0s 0s; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1; }

.no-touch .cd-top:hover {
  background-color: #5CB3FD;
  opacity: 1; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px; } }
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px; } }
@media screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 10px;
    bottom: 30px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px; } }
.social_share_btn {
  display: inline-block;
  width: 40px;
  background-color: #fff;
  color: #807FFF;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  transition: all 0.3s ease; }
  .social_share_btn:hover {
    transform: translateY(-5px); }

#donate_form_section {
  padding: 25px 20px;
  /*background-color: rgba(97, 175, 239, 0.2);*/
  position: relative;
  overflow: hidden;
  min-height: 100vh; }

.donate_form_div {
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22); }

.typeform-widget {
  width: 100%;
  height: 85vh; }
  @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
    .typeform-widget {
      height: 550px; } }

.home_btn {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  position: fixed;
  background-color: #fff;
  z-index: 100;
  border-radius: 3px;
  text-align: center;
  line-height: 60px;
  top: 3%;
  right: 3.5%;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.22); }

/*Waves effect*/
.triangle_vert {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -50px;
  margin-bottom: -200px;
  background: #B3B2FF;
  width: 120%;
  height: 400px;
  -webkit-animation: triangle_v 10s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
  -ms-animation: triangle_v 10s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
  animation: triangle_v 10s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9); }

@-webkit-keyframes triangle_v {
  0% {
    -webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    -ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg); }
  25% {
    -webkit-transform: rotate(7deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    -ms-transform: rotate(7deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    transform: rotate(7deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg); }
  50% {
    -webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg); }
  75% {
    -webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg); }
  100% {
    -webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg); } }
@-ms-keyframes triangle_v {
  0% {
    -webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    -ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg); }
  25% {
    -webkit-transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    -ms-transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg); }
  50% {
    -webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg); }
  75% {
    -webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg); }
  100% {
    -webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg); } }
@keyframes triangle_v {
  0% {
    -webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    -ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg); }
  25% {
    -webkit-transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    -ms-transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg); }
  50% {
    -webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg); }
  75% {
    -webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg); }
  100% {
    -webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg); } }
.triangle_rose {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -50px;
  margin-top: -150px;
  background: #807FFF;
  width: 120%;
  height: 300px;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-animation: triangle_r 10s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
  -ms-animation: triangle_r 10s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
  animation: triangle_r 10s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9); }

@-webkit-keyframes triangle_r {
  0% {
    -webkit-transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    -ms-transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg); }
  25% {
    -webkit-transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    -ms-transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg); }
  50% {
    -webkit-transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    -ms-transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg); }
  75% {
    -webkit-transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    -ms-transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg); }
  100% {
    -webkit-transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    -ms-transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg); } }
@-ms-keyframes triangle_r {
  0% {
    -webkit-transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    -ms-transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg); }
  25% {
    -webkit-transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    -ms-transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg); }
  50% {
    -webkit-transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    -ms-transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg); }
  75% {
    -webkit-transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    -ms-transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg); }
  100% {
    -webkit-transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    -ms-transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg); } }
@keyframes triangle_r {
  0% {
    -webkit-transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    -ms-transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg); }
  25% {
    -webkit-transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    -ms-transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg); }
  50% {
    -webkit-transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    -ms-transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg); }
  75% {
    -webkit-transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    -ms-transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg); }
  100% {
    -webkit-transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    -ms-transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg); } }

/*# sourceMappingURL=main.css.map */
