

.form_wraper{
  padding: 0px 5rem;
  font-family: 'EssenceBold';
  
  // for all mobile devices
  @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
    padding: 0px 1rem;
  }
  
  // For ipad
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    padding: 0px 1rem;
  }
}

.input_custom{
  border-radius: 0px;
  height: 45px;
  border: 0.15rem solid $pri_color;
}

.textarea_custom{
  border-radius: 0px;
  border: 0.15rem solid $pri_color;
}

.form_btn{
  border-radius: 0px;
  height: 45px;
  background-color: $pri_color;
  color: #fff;
  
  &:hover{
    transform: translateY(-5px);
    cursor: pointer;
  }
}

.contact_details{
  background-color: $pri_color;  
}



.cd-top {
  display: inline-block;
  height: 30px;
  width: 30px;
    text-align: center;
    line-height: 45px;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  white-space: nowrap;
  background: #5CB3FD;
  visibility: hidden;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, transform 0.3s ease ;
  -moz-transition: opacity .3s 0s, visibility 0s .3s, transform 0.3s ease;
  transition: opacity .3s 0s, visibility 0s .3s, transform 0.3s ease;
  
  &:hover{
    color: #fff;
    transform: translateY(-5px);
  }
  
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .5s 0s, visibility 0s 0s;
  -moz-transition: opacity .5s 0s, visibility 0s 0s;
  transition: opacity .5s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}
.no-touch .cd-top:hover {
  background-color: #5CB3FD;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px;
  }
}

// for all mobile devices
@media screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 10px;
    bottom: 30px;
  }
}

// For ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px;
  }
}



// Social share bttons

.social_share_btn{
  display: inline-block;
  width: 40px;
  background-color: #fff;
  color: $pri_color;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;  
  transition: all 0.3s ease;
  
  &:hover{
    transform: translateY(-5px);
  }
}