// Essence Font

@font-face {
  font-family: 'EssenceRegular';
  src: url('../fonts/Essence Sans.ttf'); /* IE9 Compat Modes */
  // src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //      url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
  //      url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
  //      url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  //      url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'EssenceBold';
  src: url('../fonts/Essence Sans Bold.ttf'); /* IE9 Compat Modes */
}

.essenceBold{
  font-family: 'EssenceBold';
}