.home_header {
  height: 90vh;
  position: relative;
  background: {
    image: linear-gradient( rgba(87, 148, 240, 0.60), rgba(87, 148, 240, 0.60) ),url("../img/header_bg.jpg");
    size: cover;
    repeat: no-repeat;
    position: center center;
  }
  
  // for all mobile devices
  @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
    height: 90vh;
  }
  
  // For ipad
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    height: 100vh;
  }

  .logo {
    width: 57px;
    height: 50px;
    margin-right: 20px;
    padding: 0;
    position: relative;
    line-height: 50px;
    font-size: 40px;
    background-color: #fff;
    color: #000;

    &::after {
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      border: #fff 1px solid;
    }
    // for all mobile devices
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      width: 47px;
      height: 40px;
      font-size: 28px;
      text-align: center;
      line-height: 40px;
    }
    // For ipad
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      width: 57px;
      height: 50px;
      font-size: 28px;
      text-align: center;
      line-height: 50px;
      margin-right: 10px;
    }
  }

  .head_donate_btn {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    text-decoration: none;
    line-height: 30px;
    border: 1px solid #fff;
    height: 35px;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  nav {
    a {
      color: #fff;
      transition: all 0.3s ease;

      &:hover {
        color: #000;
        transform: translateY(-5px) scale(1.01);
      }
    }

    .nav-item {
      padding: 0 5px;
    }

    .navbar-toggler {
      border: 1px solid #fff;
      border-radius: 0;
      height: 40px;
      padding-bottom: 10px
    }

    .burger {
      display: inline-block;
      width: 1.3em;
      position: relative;
      height: 2px;
      vertical-align: middle;
      content: "";
      background-color: #fff;
      
      &:before{
        content: '';
        width: 1.3em;
        height: 2px;
        position: absolute;
        top: -8px;
        left: 0;
        background-color: #fff;
      }
      
      &:after{
        content: '';
        width: 1.3em;
        height: 2px;
        position: absolute;
        top: 8px;
        left: 0;
        background-color: #fff;
      }
    }
    
    
    padding-top: 20px;
    letter-spacing: 2px;
    width: 90%;
    color: #000 !important;
    font: {
      family: EssenceBold;
      size: 16px;
      weight: 500 !important;
    }
    // for all mobile devices
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      width: 100%;
      text-align: left;
      padding-top: 10px;
    }
    // For ipad
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      width: 100%;
      text-align: left;
      padding-top: 20px;
    }
  }

  .head_tagline {
    font-family: EssenceBold;
    color: #fff;
    text-align: center;
    // for all mobile devices
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      text-align: left;
      font-size: 2rem;
    }
  }

  .head_quote {
    font-family: EssenceBold;
    color: #fff;
    text-align: right;
    // for all mobile devices
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      text-align: right;
      font-size: 1.7rem;
    }
  }
}