.section_title_h1{
  letter-spacing: 3px;
  position: relative;
  font-size: 50px;
  line-height: 55px;
  font-family: 'EssenceRegular';
  font-weight: bold;
  padding-left: 5px;
  
  // for all mobile devices
  @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
    font-size: 45px;
  }
  
  // For ipad
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 40px;
  }
  
  span{
    position: absolute;
    height: 10px;
    left: 0;
    z-index: -1;
    background-color: rgba(128, 127, 255, 0.6);
  }
  
  .fst{
    width: 40%;
    top: 35%;
    
    // For ipad
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      width: 50%;
    }
  }
  
  .mission_span{
    width: 65%;
    top: 70%;
    
    // for all mobile devices
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      width: 75%;
      top: 65%;
    }
    // For ipad
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      width: 85%;
    }
  }
  
  .contact_span{
    width: 55%;
    top: 70%;
    
    // for all mobile devices
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      width: 75%;
      top: 65%;
    }
    // For ipad
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      width: 85%;
    }
  }
  
  .scnd{
    width: 55%;
    top: 85%;
    // for all mobile devices
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      width: 65%;
      top: 65%;
    }
    
    // For ipad
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      width: 70%;
    }
  }
  
  .how_it_work_span{
    width: 35%;
    top: 70%;
    left: 33%;
    
    // for all mobile devices
    @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
      width: 80%;
      left: 10%;
    }
    
    // For ipad
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      width: 40%;
      left: 30%;
    }
  }
}

.letter_space_3{
  letter-spacing: 3px;
}

.mission_image_window{
  position: relative;
  overflow:hidden;
  box-sizing: border-box;
  border: 20px solid #CCCCFF;
  height: 500px;
  
  // for all mobile devices
  @media screen and (min-device-width: 320px) and (max-device-width: 500px) {
    height: 450px;
  }
  
  // For ipad
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    height: 400px;
  }
  
  .row{
    position: relative;
    height: 100%;
  }
}

.strip{
  height: 100%;
  background-size: 100%;
  background-position: center top;
  background-repeat: repeat-Y;  
  background-size: 95%;
}

.strip_one{
  background-image: url(../img/img-strip.jpg);
}
.strip_two{
  background-image: url(../img/img-strip.jpg);
}
.strip_three{
  background-image: url(../img/img-strip.jpg);
}

.hiw_desc{
  font-family: 'EssenceBold';
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.4rem;
}

.hiw_donate_btn{
  border-radius: 0px;
  background-color: $pri_color;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  transition: all 0.5s ease;
  
  &:hover{
    transform: translateY(-5px);
  text-decoration: none;
  color: #000;
  border: 1px solid $pri_color;
  background-color: #fff;
  }
}

// Parallax section

.parallax_bg{
  font-family: 'EssenceBold';
  background-image: url("../img/parallax_bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  color: #fff;
}